.spacer{
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -11px;
  margin: 0;
  padding: 0;
  outline: 0;
  pointer-events: none;
  z-index: 1;
}

.layer1
{
  background-image: url('../svg/grey.svg');
}

.contact-container{
  background:url("../img/programs/programs_04Bstatic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact {
  width: 80vw;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 20% 0px;
  opacity: 1;
}

#area{
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 750;
  font-size: clamp(20px, 5vw, 36px);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

form{
  max-width: 650px;
  width: 100%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  /* margin-top: 40px; */
}

.ic2 {
  margin-top: 30px;
  /* height: 100px; */
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 10px 20px 0;
  width: 100%;
  resize: none;
  font-family: Roboto;
}

.cut {
  background-color: #ffa319;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #404142;
  font-family: 'Roboto';
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #404142;
}

.input:focus ~ .placeholder {
  color: white;
}

.submit {
  background-color: transparent;
  border-radius: 12px;
  border: 2px solid white;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-family: Avenir LT Std;
}

.submit:hover {
  background-color: white;
  color: #ffa319;
}

#textarea{
  height: 30vh;
}

.contactbg
{
  background-color: rgb(255,163,25);
  opacity: 0.91;
  display: flex;
  background-size: cover;
  width: 100%;
  justify-content: center;
}


.contactButtonNav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: -21px;
  flex-wrap: wrap;
  justify-content: center;
}

.contactButtonNav ul li {
  --c: white;
  color: var(--c);
  font-size: 16px;
  border: 3px solid var(--c);
  border-radius: 0.5em;
  width: 100%;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Roboto;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  cursor: pointer;
}

.contactButtonNav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.contactButtonNav ul li:hover {
  color: rgb(255,163,25);
}

.contactButtonNav ul li:hover span {
  transform: translateY(0) scale(2);
}

.contactButtonNav ul li span:nth-child(1) {
  --n: 1;
}

.contactButtonNav ul li span:nth-child(2) {
  --n: 2;
}

.contactButtonNav ul li span:nth-child(3) {
  --n: 3;
}

.contactButtonNav ul li span:nth-child(4) {
  --n: 4;
}