.rectangle {
    z-index: 3;
    width: 75%;
    height: 65px;
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 750;
    font-size: clamp(25px, 5vw, 48px);
    text-transform: capitalize;
    color: #FFA319;
    mix-blend-mode: normal;
    background: rgba(255, 255, 255, 0.91);
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-align: justify;
    padding-left: 5%;
}

.black-rect{
    z-index: 3;
    background: rgba(0, 0, 0, 0.68);
    backdrop-filter: blur(28px);
    font-size: clamp(25px, 6.4vw, 48px);
    color: white;
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 750;
    mix-blend-mode: normal;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 2% 5%;
}

.wave {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}

.wave {}

.wave {}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.wave .shape-fill {
    fill: white;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 3px; */
    /* margin-top: 25px; */
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('../svg/layered-waves-haikei.svg');
}

.orange-icons-container
{
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 4;
    padding: 5vw;
    display: flex;
    border: none !important;
    margin: 0;
}

.orange-icons {
    width: 90%;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, max-content)); */
    justify-content: center;
    /* margin: 0 auto; */
    flex-direction: row;
    flex-wrap: wrap;
}

.orange-icons * {
    list-style-type: none;
}

.fas
{
    color: #ff9900;
}

.icon-container
{
    width: 250px;
    height: 250px;
    margin: 3vw;
}

.icon-container:first-child
{
    background:url('../img/PoS 1.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.icon-container:nth-child(2)
{
    background:url('../img/PoS 5.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.icon-container:last-child
{
    background:url('../img/PoS 3.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}


.platforms-head{
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 750;
    font-size: clamp(20px, 5vw, 36px);
    color: #404142;
    line-height: 94.19%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    width: 90%;
    text-align: center;
    margin: 0px;
}

.white-p-container
{
    background: white;
    padding: 40px 0px;
    border: none !important;
    margin: 0;
    display: block;
}

.white-p div{
    width:90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white-p div h1
{
    font-family: Avenir LT Std;
    font-weight: 750;
    font-size: clamp(20px, 5vw, 36px);
    font-style: normal;
    color: rgb(64,65,66);
    line-height: 94.19%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    margin: 0px;
}

.white-p div p
{
    font-family: Roboto;
    font-weight: normal;
    font-size: clamp(13px, 5vw, 24px);
    
/* or 43px */
    letter-spacing: 0.135em;
    font-style: normal;
    color: rgb(82 83 84);
    /* font-size: max(20px, 20px); */
    text-transform: capitalize;
    text-align: center;
    width: 75%;
    padding: clamp(0px, 5vw, 25px);
    /* margin-top: 10px; */
    line-height: 43px;
    /* align-self: center; */
}

@media screen and (max-width: 560px) {
    .white-p div p
    {
        width: 90%;
        text-align: center;
    }
}


