

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		position: relative;
		text-decoration: none;
		font-family: "Montserrat";
		font-weight: bold;
		color: #5a5753;
		margin: 0 1rem;
		transition: text-shadow 300ms ease, color 300ms ease;

		.slide {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #4df9ff;
			transform: scaleX(0);

		}
		&.active {
			color: #4df9ff;
			text-shadow: 0 0 20px #4df9ff7c;
		}

		&:focus {
			outline: none;
			border: none;
		}
	}
}


.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
	a{
		margin: 0 10px;
		color: #fff;
		font-size: 1.8rem;
		backface-visibility: hidden;
		transition: all 150ms ease;
		&:hover{
			transform: scale(1.1);
		}
	}

}