.spacer {
    aspect-ratio: 960/300;
    position: absolute;
    top: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    pointer-events: none;
}

.layer1 {
    background-image: url(../svg/ourworklp.svg);
}

.sinceheader {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(48px, 3vw, 64px);
    line-height: 75px;
    /* identical to box height */
    text-align: center;
    color: #F79101;
}

.content {
    padding-top: 15%;
}

.since {
    background-color: #414042;
}

.gridcontainer {
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
    padding: 5vw 0px;
}

.calendar {
    display: grid;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(max(80px, 100%/2), 1fr));
    gap: 0;
    align-content: center;
    padding-bottom: 72px;
    width: 100%;
}

.calendar div p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(32px, 3vw, 49.75px);
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}

.calendar div:nth-child(1) {
    background-image: url(../img/ourworkmonthly/JAN.png);
}

.calendar div:nth-child(2) {
    background-image: url(../img/ourworkmonthly/FEB.png);
}

.calendar div:nth-child(3) {
    background-image: url(../img/ourworkmonthly/MAR.png);
}

.calendar div:nth-child(4) {
    background-image: url(../img/ourworkmonthly/APR.png);
}

.calendar div:nth-child(5) {
    background-image: url(../img/ourworkmonthly/MAY.png);
}

.calendar div:nth-child(6) {
    background-image: url(../img/ourworkmonthly/JUN.png);
}

.calendar div:nth-child(7) {
    background-image: url(../img/ourworkmonthly/JUL.png);
}

.calendar div:nth-child(8) {
    background-image: url(../img/ourworkmonthly/AUG.png);
}

.calendar div:nth-child(9) {
    background-image: url(../img/ourworkmonthly/SEPT.png);
}

.calendar div:nth-child(10) {
    background-image: url(../img/ourworkmonthly/oct.png);
}

.calendar div:nth-child(11) {
    background-image: url(../img/ourworkmonthly/NOV.png);
}

.calendar div:nth-child(12) {
    background-image: url(../img/ourworkmonthly/JUN.png);
}

.calendarContainer {
    padding: 0px 48px;
    padding-right: 0;
}

.calendar div {
    height: 250px;
    /* background-color: white; */
    background-size: cover;
    background-position: center center;
    text-align: left;
    display: flex;
    align-items: flex-end;
}

.gridcontainer .article {
    width: 100%;
    /* padding: 0px 10px; */
    display: flex;
    justify-content: center;
}

.gridcontainer .article img {
    width: 90%;
    position: relative;
    /* height: 0; */
    /* padding-bottom: 90%; */
}

.watch h1 {
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 750;
    font-size: clamp(24px, 3vw, 36px);
    line-height: 43px;
    text-align: center;
    color: #F8F8F8;
}

.watch {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15%;
}

.layer2 {
    background-image: url(../svg/watch.svg);
    top: auto;
    bottom: 0;
}

@media screen and (max-width: 709px) {
    .gridcontainer {
        display: block;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .calendarContainer {
        width: 90%;
        padding: 0 !important;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .calendar {
        display: grid;
        height: auto;
        grid-template-columns: 1fr;
        gap: 0;
        align-content: center;
        padding-bottom: 72px;
        width: 60%;
    }
}