/* STYLES FOR NAV BAR AND HOPESTORIES */
@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");
html,
body {
  width: 100%;
  /* height: 100%; */
  overflow-x: hidden;
}

body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: WHITE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.Header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(7.5px);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 85px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}

.Header.has-mobile-button .MobileNav-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: height 0.4s ease;
  transition: height 0.4s ease;
  width: 80vw;
}

.Header .logo {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  margin-right: 60px;
  width: 200px;
}

.Header .logo img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
}

.Header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-height: 105px;
  max-width: 940px;
  overflow: hidden;
  width: 100%;
}

.Header-nav-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #ff9900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: bold;
  height: 100%;
  line-height: 32px;
  margin: 0 40px;
  -webkit-transition: font-size 0.4s ease, padding 0.4s ease;
  transition: font-size 0.4s ease, padding 0.4s ease;
}

.Header-nav-item:last-child {
  margin-right: 0;
}

.Header-nav-item a {
  color: white;
  text-decoration: none;
}

.Header-nav-item:hover {
  color: #ff9900 !important;
}

.Header-nav:hover .Header-nav-item {
  color: #ff9900;
}

.MobileNav {
  height: 100%;
  left: 0;
  pointer-events: none;
  position: fixed;
  top: 45px;
  width: 100%;
  z-index: 9;
}

.MobileNav-inner {
  background: rgba(255, 153, 0, 0.9);
  backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  -webkit-transform: translate(0, -105%);
  transform: translate(0, -105%);
  -webkit-transition: visibility 0.4s ease, -webkit-transform 0.4s ease;
  transition: visibility 0.4s ease, -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, visibility 0.4s ease;
  transition: transform 0.4s ease, visibility 0.4s ease,
    -webkit-transform 0.4s ease;
    visibility: hidden;
  width: 100%;
}

.MobileNav-inner .Button {
  letter-spacing: 1px;
  line-height: 3.8;
  margin: 20px -8px 20px;
  width: 100%;
}

.MobileNav-inner .MobileNav-trigger {
  display: none;
  position: absolute;
  right: 38px;
  top: 30px;
}

.MobileNav-item {
  color: #ff9900;
  display: none;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 26px 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.MobileNav-item.is-visible {
  display: block;
}

.MobileNav-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.MobileNav-item-title a {
  color: white;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  text-decoration: none;
}

.MobileNav-item-title a:hover {
  color: #ffff00;
  
}

.MobileNav-item-title span {
  min-width: 32px;
  position: relative;
  width: 100%;
}

.MobileNav-item-title span::after {
  border-left: 2px solid lightgray;
  border-top: 2px solid lightgray;
  content: "";
  display: block;
  height: 14px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-75%) rotate(225deg);
  transform: translateY(-75%) rotate(225deg);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  width: 14px;
}

.MobileNav-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: background 0.4s ease;
  transition: background 0.4s ease;
  width: 100%;
}

.MobileNav-trigger {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100%;
}

.MobileNav-trigger-inner {
  height: 12px;
  position: relative;
  width: 24px;
}

.MobileNav-trigger-inner::after {
  background: rgb(255, 153, 0);
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  width: 100%;
}

.MobileNav-trigger-inner::before {
  background: #ff9900;
  bottom: 0;
  content: "";
  height: 5px;
  left: 0;
  position: absolute;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  width: 100%;
}

.MobileNav-trigger.is-active .MobileNav-trigger-inner::before {
  background: white;
}

.MobileNav-trigger.is-active .MobileNav-trigger-inner::after {
  background: white;
}

.MobileNav-trigger.is-active .MobileNav-trigger-inner::after {
  -webkit-transform: translateY(-4px) rotate(45deg);
  transform: translateY(-4px) rotate(45deg);
}

.MobileNav-trigger.is-active .MobileNav-trigger-inner::before {
  -webkit-transform: translateY(3px) rotate(-45deg);
  transform: translateY(6px) rotate(-45deg);
}

.Header-nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.Header-nav-item a {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: bold;
  color: white;
  margin: 0 1rem;
  -webkit-transition: text-shadow 300ms ease, color 300ms ease;
  transition: text-shadow 300ms ease, color 300ms ease;
}

.Header-nav-item a .slide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ff9900;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}
.Header-nav-item a.active {
  color: #ff9900;
  text-shadow: 0 0 20px #ffff00;
}

.Header-nav-item a:focus {
  outline: none;
  border: none;
}

.Header-nav-item a:hover {
  text-shadow: 0 0 20px #ffff00;
}

.hopeStories {
  z-index: 2;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.hopeStories img {
  transform-origin: top center;
  width: 100%;
}

@media screen and (max-width: 820px) {
  .hopeStories  img {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 570px) {
  .hopeStories {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .hopeStories img {
    height: auto;
    width: 180%;
  }
}

@media screen and (max-width: 480px) {
  .is-mobilenav-open .Header {
    background: white;
  }
  .MobileNav-inner {
    background: #ff9900;
    backdrop-filter: none;
    height: 800px;
  }
  
  .MobileNav-trigger.is-active .MobileNav-trigger-inner::before {
    background: #ff9900;
  }
  
  .MobileNav-trigger.is-active .MobileNav-trigger-inner::after {
    background: #ff9900;
  }
}

@media screen and (min-width: 481px) {
  .Header-nav {
    height: auto;
  }
}
@media screen and (min-width: 481px) {
  .MobileNav {
    height: 100%;
    top: 0;
    z-index: 11;
  }
  .MobileNav-inner {
    padding-top: 90px;
    -webkit-transform: translate(100%, 0);
    transform: translate(100%, 0);
    width: 375px;
  }
  .MobileNav-inner .MobileNav-trigger {
    display: block;
  }
  .MobileNav-trigger {
    display: none;
  }
}

@media screen and (min-width: 871px) {
  .MobileNav-inner {
    padding-top: 160px;
  }
}

.is-mobilenav-open {
  overflow-y: hidden;
}

.is-mobilenav-open .MobileNav {
  pointer-events: all;
}

.is-mobilenav-open .MobileNav-inner {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  visibility: visible;
}

.is-mobilenav-open .MobileNav-overlay {
  background: rgba(0, 0, 0, 0.25);
}


@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}